/* SAMS-test stylesheet */



/**** zuse Filtering ****/

.zuse-item {
  z-index: 2;
}

.zuse-hidden.zuse-item {
  pointer-events: none;
  z-index: 1;
}

/**** zuse CSS3 transitions ****/

.zuse,
.zuse .zuse-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.zuse {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.zuse .zuse-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/* End: Recommended zuse styles */

/**** disabling zuse CSS3 transitions ****/

.zuse.no-transition,
.zuse.no-transition .zuse-item {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

/* disable CSS transitions for containers with infinite scrolling*/
.zuse.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}


/**** Base styles ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  /* MENU schriftgroesse */
  font-size: 7px;
  line-height: 0.9em;
  background: #1F1E1D;
  color: #FFF;
}

h1, h2, h3, p, ul, ol, pre, dl {
  margin-bottom: 1.0em;
}

h2, #super-list, #super-list2, .element, .tagline {
font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3 { font-weight: normal; }

h1 {
  /* "LOGO" schriftgroesse */
  font-size: 19px;
  margin-left: 4px;
  margin-top: 4px;
  line-height: 1.6em;
  font-family: microsoft sans serif;
}

h2 {
  /* "MENUbezeichnung" schriftgroesse (brauche ich nicht)*/
  font-size: 24px;
  line-height: 1.1em;
}

ul, ol {
  margin-left: 1.5em;
}

a,
a code {
  /* "OPTIONS-menu" schriftgroesse */
  font-size: 12px;
  color: #FFF;
  text-decoration: none;
}

a:hover,
a:hover code { 
  color: #bac097; 
}

a:active,
a:active code {
  color: #1FB;
  background: #FFF;
}



/**** Example Options ****/

#options {
  padding-bottom: 1.0em;
 /* Position schalter oben/rechts */
    float: right;
    margin-top: 11px;
    margin-right: -5px;

}

#options h3 {
  margin-bottom: 0.2em;
}

#options ul {
  margin: 0;
  list-style: none;

}



#options ul ul {
  margin-left: 1.5em;

}

#options .floated li {
  float: left;

}

#options li a {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em;
  background-color: #DDD;
  color: #222;
  font-weight: normal;
  margin-bottom: 0.2em;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -moz-linear-gradient(-90deg, 
    hsla( 0, 0%, 100%, 0.5 ) , 
    hsla( 0, 0%, 100%, 0.0 ) 
  );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from( hsla( 0, 0%, 100%, 0.5 ) ), 
    to(   hsla( 0, 0%, 100%, 0.0 ) )
  );
  }





#options li a:hover {
  background-color: #A3FFFF;
      cursor: pointer;
}

#options li a:active {
  background-color: #008FAD;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options .floated li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options .floated li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;  
}

#options .floated li:last-child a {
  border-radius: 0 7px 7px 0;
     /* abstand zwischen den schaltern oben/rechts */
        margin-right: -20px;
}

#options .option-set li a.selected {
  background-color: #6A7E26;
  text-shadow: none;
  color: white;
}

/*--- Example Options2 ---*/

#options2 {
  padding-bottom: 1.0em;
}

#options2 h3 {
  margin-bottom: 0.2em;
}

#options2 ul {
  margin: 0;
  list-style: none;
}

#options2 ul ul {
  margin-left: 1.5em;
}

#options2 .floated li {
  float: left;
}

#options2 li a {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em;
  background-color: #DDD;
  color: #222;
  font-weight: normal;
  margin-bottom: 0.2em;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -moz-linear-gradient(-90deg, 
    hsla( 0, 0%, 100%, 0.5 ) , 
    hsla( 0, 0%, 100%, 0.0 ) 
  );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from( hsla( 0, 0%, 100%, 0.5 ) ), 
    to(   hsla( 0, 0%, 100%, 0.0 ) )
  );
}

#options2 li a:hover {
  background-color: #A3FFFF;
}

#options2 li a:active {
  background-color: #008FAD;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options2 .floated li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options2 .floated li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}

#options2 .floated li:last-child a {
  border-radius: 0 7px 7px 0;
}

#options2 .option-set li a.selected {
  background-color: #6A7E26;
  text-shadow: none;
  color: white;
}



/*--- "FOOTER" Options3 ---*/

#options3 {
  padding-bottom: 1.0em;
}

#options3 h3 {
  margin-bottom: 0.2em;
}

#options3 ul {
  margin: 0;
  list-style: none;
}

#options3 ul ul {
  margin-left: 1.5em;
}

#options3 .floated li {
  float: left;
}

#options3 li a {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em;
  /* hintergrund-farbe */
  background-color: #DDD;
  /* schriftfarbe */
  color: #222;
  font-weight: normal;
  margin-bottom: 0.2em;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -moz-linear-gradient(-90deg, 
    hsla( 0, 0%, 100%, 0.5 ) , 
    hsla( 0, 0%, 100%, 0.0 ) 
  );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from( hsla( 0, 0%, 100%, 0.5 ) ), 
    to(   hsla( 0, 0%, 100%, 0.0 ) )
  );
}

#options3 li a:hover {
  background-color: #A3FFFF;
}

#options3 li a:active {
  background-color: #008FAD;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options3 .floated li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options3 .floated li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}

#options3 .floated li:last-child a {
  border-radius: 0 7px 7px 0;
}

#options3 .option-set li a.selected {
  background-color: #6A7E26;
  text-shadow: none;
  color: white;
}

/*--- "vita-menu" Options4 ---*/

#options4 {
  padding-bottom: 1.0em;
}

#options4 h3 {
  margin-bottom: 0.2em;
}

#options4 ul {
  margin: 0;
  list-style: none;
}

#options4 ul ul {
  margin-left: 1.5em;
}

#options4 .floated li {
  float: left;
}

#options4 li a {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em;
  /* hintergrund-farbe */
  background-color: #DDD;
  /* schriftfarbe */
  color: #222;
  font-weight: normal;
  margin-bottom: 0.2em;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -moz-linear-gradient(-90deg, 
    hsla( 0, 0%, 100%, 0.5 ) , 
    hsla( 0, 0%, 100%, 0.0 ) 
  );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from( hsla( 0, 0%, 100%, 0.5 ) ), 
    to(   hsla( 0, 0%, 100%, 0.0 ) )
  );
}

#options4 li a:hover {
  background-color: #A3FFFF;
}

#options4 li a:active {
  background-color: #008FAD;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options4 .floated li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options4 .floated li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}

#options4 .floated li:last-child a {
  border-radius: 0 7px 7px 0;
}

#options4 .option-set li a.selected {
  background-color: #6A7E26;
  text-shadow: none;
  color: white;
}

/*--- "NEWS-menu" Options5 ---*/

#options5 {
  padding-bottom: 1.0em;
}

#options5 h3 {
  margin-bottom: 0.2em;
}

#options5 ul {
  margin: 0;
  list-style: none;
}

#options5 ul ul {
  margin-left: 1.5em;
}

#options5 .floated li {
  float: left;
}

#options5 li a {
  display: inline-block;
  padding: 0.5em 0.5em 0.5em;
  /* hintergrund-farbe */
  background-color: #DDD;
  /* schriftfarbe */
  color: #222;
  font-weight: normal;
  margin-bottom: 0.2em;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -moz-linear-gradient(-90deg, 
    hsla( 0, 0%, 100%, 0.5 ) , 
    hsla( 0, 0%, 100%, 0.0 ) 
  );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from( hsla( 0, 0%, 100%, 0.5 ) ), 
    to(   hsla( 0, 0%, 100%, 0.0 ) )
  );
}

#options5 li a:hover {
  background-color: #A3FFFF;
}

#options5 li a:active {
  background-color: #008FAD;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options5 .floated li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options5 .floated li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}

#options5 .floated li:last-child a {
  border-radius: 0 7px 7px 0;
}

#options5 .option-set li a.selected {
  background-color: #6A7E26;
  text-shadow: none;
  color: white;
}


/* footer */
footer {
  position:relative;
  margin-top: 10px;
}


/**** Super list ****/

#super-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#super-list li {
  display: inline-block;
  float: left;
  /* FLOATING_menu SCHRIFTGROESSE */
  font-size: 18px;
  line-height: 1.2em;
  margin: 2px;
  font-weight: 300;
}

#super-list li.feature { background: #111; }
#super-list li span,
#super-list li a {
  display: block;
  /* FLOATING_menu box-groesse */
  padding: 0px 12px;
}
#super-list li a {
  color: #222;
}
#super-list li.doc  a { background: #DCC4D2; }
#super-list li.demo a { background: #B0A27C; }


#super-list li a:hover {
  background: white;
    cursor: pointer;
}

#super-list li.link a:hover { color: #222; }

#super-list.masonry li {
/* GRID-SETTING-2 (GRID-SETTING-1 ist im stylesheet) */
  width: 173px;
}
#super-list.masonry li.feature,
#super-list.masonry li.link {
  width: 436px;
}

/*--- Super list2 ---*/

#super-list2 {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#super-list2 li {
  display: inline-block;
  float: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  /* FLOATING_menu SCHRIFTGROESSE */
  font-size: 12px;
  line-height: 1.3em;
  margin: 2px;
  font-weight: 300;
    max-width: 340px;
}

#super-list2 li.feature { background: #111; }
#super-list2 li span,
#super-list2 li a {
  display: block;
  /* Feature schrift-groesse */
  font-size: 12px;
  /* FLOATING_menu box-groesse */
  padding: 0px 0px;
}
#super-list2 li a {
  color: #222;
}
#super-list2 li.doc  a { background: #DCC4D2; }
#super-list2 li.demo a { background: #B0A27C; }
#super-list2 li.link a { background: #E58; color: white; }

#super-list2 li a:hover {
  background: white;
}

#super-list2 li.link a:hover { color: #222; }

/* NEU --- Super list3 ---#### VEREINFACHEN #### */

#super-list3 {
  list-style: none;
  margin: 0;
  margin-top: -20px;
  padding: 0;
  margin-bottom: 20px;
}

#super-list3 li {
  display: inline-block;
  float: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  /* FLOATING_menu SCHRIFTGROESSE */
  font-size: 12px;
  line-height: 1.3em;
  margin: 2px;
  font-weight: 300;
    max-width: 340px;
}

#super-list3 li.feature { background: #111; }
#super-list3 li span,
#super-list3 li a {
  display: block;
  /* Feature schrift-groesse */
  font-size: 12px;
  /* FLOATING_menu box-groesse */
  padding: 0px 0px;
}
#super-list3 li a {
  color: #222;
}
#super-list3 li.doc  a { background: #DCC4D2; }
#super-list3 li.demo a { background: #B0A27C; }
#super-list3 li.link a { background: #E58; color: white; }

#super-list3 li a:hover {
  background: white;
}

#super-list3 li.link a:hover { color: #222; }

/* NEWS --- Super list4 ---#### VEREINFACHEN #### */

#super-list4 {
  list-style: none;
  margin: 0;
  margin-top: -20px;
  padding: 0;
  margin-bottom: 20px;
}

#super-list4 li {
  display: inline-block;
  float: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  /* FLOATING_menu SCHRIFTGROESSE */
  font-size: 12px;
  line-height: 1.3em;
  margin: 2px;
  font-weight: 300;
    max-width: 340px;
}

#super-list4 li.feature { background: #111; }
#super-list4 li span,
#super-list4 li a {
  display: block;
  /* Feature schrift-groesse */
  font-size: 12px;
  /* FLOATING_menu box-groesse */
  padding: 0px 0px;
}
  /* ### LINKS in den NEWs */
#super-list4 li a {
  color: #000;
  background: #60605A; color: white;
}
#super-list4 li.doc  a { background: #DCC4D2; }
#super-list4 li.demo a { background: #B0A27C; }
#super-list4 li.link a { background: #E58; color: white; }

#super-list4 li a:hover {
  background: darkgrey;
  color: #3f4646
}

#super-list4 li.link a:hover { color: #222; }

/**************************
**  Infinite Scroll
**************************/


#infscr-loading {
  position: fixed;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/**** textBox ****/

#textBox, #vitaBox, #newsBox, #iBox, #pBox {
  max-width: 340px;
  font-size: 12px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
}


/**** WORK ****/
#WORK8.flux-body,
#WORK7.flux-body,
#WORK6.flux-body,
#WORK5.flux-body,
#WORK4.flux-body,
#WORK3.flux-body,
#WORK2.flux-body {
  position: relative;
  width: 100%;
  height: 400px;
  float: left
  margin: 20px;
  top: -20px;
  padding: 0;
  margin-bottom: 40px;
}
#WORK8.flux-body ul li a, 
#WORK8.flux-body ul li span,
#WORK7.flux-body ul li a, 
#WORK7.flux-body ul li span,
#WORK6.flux-body ul li a, 
#WORK6.flux-body ul li span,
#WORK5.flux-body ul li a, 
#WORK5.flux-body ul li span,
#WORK4.flux-body ul li a, 
#WORK4.flux-body ul li span,
#WORK3.flux-body ul li a, 
#WORK3.flux-body ul li span,
#WORK2.flux-body ul li a, 
#WORK2.flux-body ul li span {
  font-size: 7px;
  line-height: 0.9em;
  color: black;
}

/* g_preLOADER */
#pload {
  position: absolute;
  left: 0px; 
  top: 0px;
  z-index:2000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: red;
}



/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


