

/* body,layout
----------------------------------------------- */
body{margin:20px 0;
	padding:0;
	text-align:center;
	background:#FFFFFF;
	font-family:"Arial","Helvetica","sans-serif";}

#content{width:810px;
	margin:0 auto;
	padding:0;
	text-align:center;
	background:#FFFFFF;}

#top_header{width:810px;
	height:520px;
	margin:0 auto;
	padding:0;
	overflow:hidden;
	text-align:center;
	background:#FFFFFF url(image/top_header_back.gif) repeat-y top;
	clear:both;}

#top_mainheader{width:810px;
	/* height:10px; */
	margin:0 auto;
	padding:0;
	overflow:hidden;
	background:#FFFFFF url(image/top_pageheader_back.gif) repeat-y top;
	clear:both;}

#top_main{width:810px;
	height:160px;
	margin:0;
	padding:0;
	text-align:left;
	background:#FFFFFF url(image/top_pagemain_back.gif) repeat-y top;
	overflow:hidden;
	clear:both;}

#top_mainleft{width:199px;
	margin:0;
	padding:0 0 0 16px;
	text-align:center;
	float:left;}

#top_maincenter{width:335px;
	height:200px;
	margin:0;
	padding:0 0 0 22px;
	text-align:left;
	float:left;}

#top_mainright{width:200px;
	margin:0;
	padding:0 0 0 22px;
	text-align:left;
	float:left;}

#top_mainbottom{width:810px;
	height:16px;
	margin:0 auto;
	padding:0;
	text-align:left;
	background:#FFFFFF url(image/top_pagebottom_back.gif) no-repeat top;
	clear:both;}

#top_bottom{width:790px;
	margin:0 auto;
	padding:0;
	margin-top:4px;
	text-align:left;
	clear:both;}
	
.page{margin:0;
	padding:0;
	text-align:center;
	background:#FFFFFF;}

#page_content{width:810px;
	margin:0 auto;
	padding:0;
	text-align:center;
	background:#FFFFFF url(image/page_back.gif) repeat-y top;
	overflow:hidden;
	clear:both;}

#page_left{width:180px;
	margin:20px 0 0 0;
	padding:0 15px;
	text-align:left;
	float:left;}

#page_main{width:570px;
	margin:20px 0;
	padding:0 30px 0 0;
	text-align:left;
	float:right;}

#page_bottom{width:810px;
	margin:0 auto;
	padding:10px 0;
	text-align:center;
	background:#000000;
	clear:both;}

.none{display:none;}

.clear {clear:both;
	margin:0;}


/* backimage dispose
----------------------------------------------- */
#page_content:after,
#top_main:after{
	content:".";
	display:block;
	height:1px;
	clear:both;
	overflow:hidden;}

/* topmenu
----------------------------------------------- */
#topmenu{width:199px;
	height:146px;
	margin:0;
	padding:0;
	text-align:center;
	background:#ded8ce url(image/menu_back.gif) no-repeat top;
	clear:both;}
	
/* top_menu , page_menu
----------------------------------------------- */
#topmenu ul{margin:0;
	padding:0;
	width:199px;}

#topmenu li{float:left;
	margin:0;
	padding:0;
	list-style-type:none;}

#topmenu span{
	/*\*/
	position:absolute;
	/**/
	text-indent:-10000px;
	width:0;
	height:0;
	display:block;
	left:1px;
	top:1px;}

/* top_news
----------------------------------------------- */
li.topnews a{padding:0;
	width:66px;
	height:48px;
	background:url(image/news_off.gif) no-repeat;
	display:block;}
	
li.topnews a:hover{background:url(image/news_on.gif) no-repeat;}

/* top_works
----------------------------------------------- */
li.topworks a{padding:0;
	width:67px;
	height:48px;
	background: url(image/works_off.gif) no-repeat;
	display:block;}

li.topworks a:hover{background:url(image/works_on.gif) no-repeat;}

/* top_privatelabel
----------------------------------------------- */
li.topprivatelabel a{padding:0;
	width:66px;
	height:48px;
	background:url(image/privatelabel_off.gif) no-repeat;
	display:block;}

li.topprivatelabel a:hover{background:url(image/privatelabel_on.gif) no-repeat;}

/* top_bbs
----------------------------------------------- */
li.topbbs a{padding:0;
	width:66px;
	height:49px;
	background:url(image/bbs_off.gif) no-repeat;
	display:block;}

li.topbbs a:hover{background:url(image/bbs_on.gif) no-repeat;}

/* top_pselogo
----------------------------------------------- */
li.toppselogoPL a{padding:0;
	width:67px;
	height:49px;
	background:url(image/pselogo_off.gif) no-repeat;
	display:block;}

/* top_gallery
----------------------------------------------- */
li.topgallery a{padding:0;
	width:66px;
	height:49px;
	background:url(image/gallery_off.gif) no-repeat;
	display:block;}

li.topgallery a:hover{background:url(image/gallery_on.gif) no-repeat;}

/* toplink
----------------------------------------------- */
li.toplink a{padding:0;
	width:66px;
	height:49px;
	background:url(image/link_off.gif) no-repeat;
	display:block;}

li.toplink a:hover{background:url(image/link_on.gif) no-repeat;}


/* top_about
----------------------------------------------- */
li.topabout a{padding:0;
	width:67px;
	height:49px;
	background:url(image/about_off.gif) no-repeat;
	display:block;}

li.topabout a:hover{background:url(image/about_on.gif) no-repeat;}

/* top_en
----------------------------------------------- */
li.topen a{padding:0;
	width:66px;
	height:49px;
	background:url(image/en_off.gif) no-repeat;
	display:block;}

li.topen a:hover{background:url(image/en_on.gif) no-repeat;}

/* more
----------------------------------------------- */
#more{width:100%;
	height:25px;
	margin:30px auto;
	padding:0 0px 0 4px;
	text-align:right;
	clear:both;}

#more ul{margin:0;
	padding:0;
	width:83px;
	float:right;
	overflow:hidden;}

#more li{margin:0;
	padding:0;
	list-style-type:none;}

#more li a{padding:0;
	width:83px;
	height:25px;
	background:url(image/more_off.gif) no-repeat;
	display:block;}

#more span{
	/*\*/
	position:absolute;
	/**/
	text-indent:-10000px;
	width:0;
	height:0;
	display:block;
	left:-2px;
	top:0px;}

/* page_navi
----------------------------------------------- */
#page_left ul{margin:10px 0;
	padding:0;
	width:149px;}

#page_left li{margin:0;
	padding:0;
	display:inline;
	list-style-type:none;}

#page_left span{
	/*\*/
	position:absolute;
	/**/
	text-indent:-10000px;
	width:0;
	height:0;
	display:block;
	left:1px;
	top:1px;}

/* page_home
----------------------------------------------- */
li.pmhome a{margin:0;
	padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_home_off.gif) no-repeat;
	display:block;}
	
li.pmhome a:hover{background:url(image/pm_home_on.gif) no-repeat;}

/* rollover */
li.pmhome{background:url(image/pm_home_off.gif) no-repeat;}

/* page_news
----------------------------------------------- */
li.pmnews a{margin:0;
	padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_news_off.gif) no-repeat;
	display:block;}
	
li.pmnewsPL a{margin:0;
	padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_news_on.gif) no-repeat;
	display:block;}	
	
li.pmnews a:hover{background:url(image/pm_news_on.gif) no-repeat;}

li.pmnews{background:url(image/pm_news_off.gif) no-repeat;}
li.pmnewsPL{background:url(image/pm_news_on.gif) no-repeat;}

/* page_works
----------------------------------------------- */
li.pmworks a{margin:0;
	padding:0;
	width:149px;
	height:35px;
	background: url(image/pm_works_off.gif) no-repeat;
	display:block;}

li.pmworksPL a{margin:0;
	padding:0;
	width:149px;
	height:35px;
	background: url(image/pm_works_on.gif) no-repeat;
	display:block;}

li.pmworks a:hover{background: url(image/pm_works_on.gif) no-repeat;}

li.pmworks{background: url(image/pm_works_off.gif) no-repeat;}
li.pmworksPL{background: url(image/pm_works_on.gif) no-repeat;}

/* page_privatelabel
----------------------------------------------- */
li.pmprivatelabel a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_privatelabel_off.gif) no-repeat;
	display:block;}

li.pmprivatelabelPL a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_privatelabel_on.gif) no-repeat;
	display:block;}

li.pmprivatelabel a:hover{background:url(image/pm_privatelabel_on.gif) no-repeat;}

li.pmprivatelabel{background:url(image/pm_privatelabel_off.gif) no-repeat;}
li.pmprivatelabelPL{background:url(image/pm_privatelabel_on.gif) no-repeat;}

/* page_bbs
----------------------------------------------- */
li.pmbbs a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_bbs_off.gif) no-repeat;
	display:block;}

li.pmbbs a:hover{background:url(image/pm_bbs_on.gif) no-repeat;}

li.pmbbs{background:url(image/pm_bbs_off.gif) no-repeat;}

/* page_gallery
----------------------------------------------- */
li.pmgallery a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_gallery_off.gif) no-repeat;
	display:block;}

li.pmgalleryPL a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_gallery_on.gif) no-repeat;
	display:block;}

li.pmgallery a:hover{background:url(image/pm_gallery_on.gif) no-repeat;}

li.pmgallery{background:url(image/pm_gallery_off.gif) no-repeat;}
li.pmgalleryPL{background:url(image/pm_gallery_on.gif) no-repeat;}

/* page_link
----------------------------------------------- */
li.pmlink a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_link_off.gif) no-repeat;
	display:block;}

li.pmlinkPL a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_link_on.gif) no-repeat;
	display:block;}

li.pmlink a:hover{background:url(image/pm_link_on.gif) no-repeat;}

li.pmlink{background:url(image/pm_link_off.gif) no-repeat;}
li.pmlinkPL{background:url(image/pm_link_on.gif) no-repeat;}

/* page_about
----------------------------------------------- */
li.pmabout a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_about_off.gif) no-repeat;
	display:block;}

li.pmaboutPL a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_about_on.gif) no-repeat;
	display:block;}

li.pmabout a:hover{background:url(image/pm_about_on.gif) no-repeat;}

li.pmabout{background:url(image/pm_about_off.gif) no-repeat;}
li.pmaboutPL{background:url(image/pm_about_on.gif) no-repeat;}

/* page_en
----------------------------------------------- */
li.pmen a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_english_off.gif) no-repeat;
	display:block;}

li.pmenPL a{padding:0;
	width:149px;
	height:35px;
	background:url(image/pm_english_on.gif) no-repeat;
	display:block;}

li.pmen a:hover{background:url(image/pm_english_on.gif) no-repeat;}

li.pmen{background:url(image/pm_english_off.gif) no-repeat;}
li.pmenPL{background:url(image/pm_english_on.gif) no-repeat;}

/* page_navi2
----------------------------------------------- */
#pm2{margin:0;
	padding:0;}

#pm2 ul{margin:0;
	padding:0;}

#pm2 li{margin:0;
	padding:0;
	display:block;}

#pm2 .pm2_ul{width:130px;
	margin:5px 0;
	padding:0 0 0 11px;
	font-size:12px;
	color:#333333;
	letter-spacing:0.08em;
	line-height:1.4em;
	text-align:left;
	list-style:none;}

#pm2 .pm2_li0{margin:0;
	padding:0 0 0 15px;
	background:url(image/li2.gif) no-repeat 0 3px;}
	
#pm2 .pm2_li{margin:0 0 5px 0;
	padding:0 0 0 15px;
	background:url(image/li2.gif) no-repeat 0 3px;}

#pm2 .pm2_li a{margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:transparent;}	
	
#pm2 .pm2_li2{margin:0 0 5px 10px;
	padding:0 0 0 15px;
	background:url(image/li3.gif) no-repeat 0 2px;}

#pm2 .pm2_li2 a{margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:transparent;}	

/* pageup
----------------------------------------------- */
#pageup{width:100%;
	height:25px;
	margin:0 auto;
	padding:0;
	padding-top:10px;
	text-align:right;
	clear:both;}

#pageup ul{margin:0;
	padding:0;
	width:67px;
	float:right;
	overflow:hidden;}

#pageup li{margin:0;
	padding:0;
	list-style-type:none;}

#pageup li a{padding:0;
	width:67px;
	height:25px;
	background:url(image/pageup_off.gif) no-repeat;
	display:block;}

#pageup li a:hover{background:url(image/pageup_off.gif) no-repeat;}

#pageup span{
	/*\*/
	position:absolute;
	/**/
	text-indent:-10000px;
	width:0;
	height:0;
	display:block;
	left:-2px;
	top:0px;}

/* top
----------------------------------------------- */
.topflash{margin:6px 0 0 0;
	margin-top:6px;
	padding:0;}
	
#homenews{padding:0 10px 0 0;
	height:132px;
  overflow:auto;}	

/* TRINODE
----------------------------------------------- */
.fsg{margin:0;
	padding:0;
	font-size:80%;
	color:#999966;
	letter-spacing:0.05em;
	line-height:1.8em;}

.flsg{margin:0;
	padding:0;
	font-size:270%;
	color:#999966;
	letter-spacing:0.05em;
	line-height:1.0em;}

.fxxsg{margin:0;
	padding:0;
	font-size:60%;
	color:#999966;
	letter-spacing:0.05em;
	line-height:1.8em;}

.fxxsgray{margin:0;
	padding:0;
	font-size:60%;
	color:#999966;
	letter-spacing:0.05em;
	line-height:1.8em;}
	
.fxxsgR{margin:0;
	padding:0;
	font-size:60%;
	color:#999966;
	letter-spacing:0.05em;
	line-height:1.8em;
	text-align:right;}	

/* top_message
----------------------------------------------- */
#top_message{width:778px;
	margin:0 auto;
	padding:10px 0;
	background:transparent;
	clear:both;}
	
#top_message hr{margin:10px 0 0 0;
	padding:0;
	width:100%;
	height:2px;
	background:url(image/message_hr.gif) no-repeat top;
	border:none;
	clear:both;}

/* p,h,ul
----------------------------------------------- */
p{margin:0;
	padding:0;
	font-size:75%;
	color:#333333;
	letter-spacing:0.05em;
	line-height:1.8em;}

.fs{font-size:70%;
	letter-spacing:0.03em;}

.fsgray{font-size:70%;
	color:#777777;
	letter-spacing:0.05em;	
	line-height:1.5em;}

.fsred{font-size:70%;
	color:#CC0000;
	letter-spacing:0.05em;	
	line-height:1.5em;}

.fm{font-size:70%;
	letter-spacing:0.03em;
	line-height:1.4em;}
	
/*This will work for firefox*/
                    @-moz-document url-prefix() {
                        .fm{
                        font-family:"Arial","Helvetica","sans-serif";
                        font-size:80%;
                        letter-spacing:0.02em;
                        line-height:1.4em;
                    }
                    }	

.fxs{font-size:60%;
	letter-spacing:0.03em;}

.copy{font-size:60%;
	color:#777777;
	letter-spacing:0.05em;
	line-height:1.8em;
	font-family:"Arial","Helvetica","sans-serif";}

.copyC{font-size:60%;
	color:#777777;
	letter-spacing:0.05em;
	line-height:1.8em;
	text-align:center;}
	
.copypage{margin:0;
	padding:0;
	font-size:60%;
	color:#FFFFFF;
	letter-spacing:0.05em;
	line-height:1.8em;}	

.coryEn{font-family:"Arial","Helvetica","sans-serif";}

/*This will work for firefox*/
                    @-moz-document url-prefix() {
                        .coryEn{
                        font-family:"Arial","Helvetica","sans-serif";
                        font-size:110%;
                        letter-spacing:0.05em;
                        line-height:1.8em;
                    }
                    }

.cap{font-size:60%;
	color:#777777;
	letter-spacing:0.05em;}

.capfa{font-size:60%;
	color:#777777;
	letter-spacing:0.05em;	
	line-height:1.5em;}

.data_fxs{font-size:60%;
	color:#777777;
	line-height:1.8em;
	letter-spacing:0.05em;}

.pan_fxs{margin:0 5px;
	color:#777777;
	font-size:60%;
	letter-spacing:0.05em;}
	
.pan2_fxs{margin:0 5px 60px;
	color:#777777;
	font-size:60%;
	letter-spacing:0.05em;}	

.c{text-align:center;}
.R{text-align:right;}
.topnews_ora{color:#ff6c00;}
.gray{color:#777777;}

.strike{text-decoration:line-through;}

div{margin:0;
	padding:0;}

h1{margin:0;
	padding:0;}

.h1page{margin:5px 0 0 0;
	padding:0;
	clear:both;}

h2{margin:0 0 30px 0;
	padding:0;
	clear:both;}

.h2top_2nd{margin:0 0 5px 0;
	padding:0;
	clear:both;}	

h3{margin:0 0 5px 0;
	font-size:110%;
	padding:0;}

.h3page{margin:0 0 5px 0;
	padding:0 0 0 6px;
	font-size:60%;
	color:#333333;
	border-left:#ff6c00 solid 5px;
	letter-spacing:0.05em;
	line-height:1.4em;}	

.h3pagetop{margin:60px 0 5px 0;
	padding:0 0 0 6px;
	font-size:90%;
	color:#333333;
	border-left:#ff6c00 solid 5px;
	letter-spacing:0.05em;
	line-height:1.4em;}
	
.h3pagetopfs{font-size:75%;
	font-weight:normal;
	color:#333333;
	letter-spacing:0.05em;
	line-height:1.2em;}	

.h4page{margin:15px 0 5px 0;
	padding:0 0 0 6px;
	font-size:75%;
	color:#333333;
	border-left:#ded8ce solid 5px;
	letter-spacing:0.05em;
	line-height:1.4em;}
	
.h4capfa{margin:0;
	padding:0;
	font-size:60%;
	color:#333333;
	letter-spacing:0.05em;	
	line-height:1.5em;}	

.h4pagetopfs{font-size:90%;
	font-weight:normal;
	color:#333333;
	letter-spacing:0.05em;
	line-height:1.2em;}

form{margin:0;}

hr {margin:20px 0;
	padding:0;
	width:100%;
	height:1px;
	color:#999999;
	background:#999999;
	border:none;
	clear:both;}

.dot {border-top:#CCCCCC dashed 1px;
	background:#FFFFFF;
	clear:both;}

.dot10{margin:5px 0;
	padding:0;
	border-top:#CCCCCC dotted 1px;
	background:#FFFFFF;
	clear:both;}

img{margin:0;
	padding:0;
	border:none;}

.imgR{margin:0 0 15px 15px;
	padding:0;
	float:right;}

.imgL{margin:0 15px 15px 0;
	padding:0;
	float:left;}

.illustC{margin:60px 0 10px 0;
	padding:0;}

.booksimgC{margin:30px 0;
	padding:0;}

.banner{margin:0 0 5px 0;
	padding:0;}
	
.mail{margin:0 0 0 5px;
	padding:0;
	float:right;}

.count{margin:5px 0 0 0;
	padding:0;
	float:right;}				

.pagemore{margin:30px 0 10px 0; 
	padding:0;}
	
.rmparco2010{margin:5px 0 10px 0; 
	padding:0;}	

#top_maincenter .top_ul{margin:0;
	padding:0;
	font-size:10px;
	letter-spacing:0.05em;
	line-height:1.4em;
	list-style:none;}

#top_maincenter .top_li{margin:0 0 3px 0;
	padding:0 0 3px 15px;
	background:url(image/li.gif) no-repeat;
	border-bottom:#FFFFFF dashed 1px;}

#page_main .ulst{margin:0;
	padding:0;
	font-size:75%;
	letter-spacing:0.05em;
	line-height:1.4em;
	list-style:none;}

#page_main .list{margin:0;
	padding:0 0 0 15px;
	background:url(image/li.gif) no-repeat;}


#page_main .ulst2{margin:0 0 15px 10px;
	padding:0;
	font-size:75%;
	letter-spacing:0.05em;
	line-height:1.8em;
	list-style:none;}

#page_main .list2{margin:0;
	padding:0 0 0 15px;
	background:url(image/li2.gif) no-repeat 0 0.6em;}


#page_main .list3{margin:0;
	padding:0 0 0 15px;
	background:url(image/li3.gif) no-repeat;}


/* table
----------------------------------------------- */
.ta_st{width:auto;
	margin:5px 0 15px 0;
	border:1px solid #CCCCCC;
	border-collapse:collapse;}

.td_st{border:1px solid #CCCCCC;
	padding:5px;
	background:#FFFFFF;
	vertical-align:top;}
	
.td_stc{border:1px solid #CCCCCC;
	padding:5px;
	background:#FFFFFF;
	vertical-align:top;
	text-align:center;}
	
.td_stcm{border:1px solid #CCCCCC;
	padding:5px;
	background:#FFFFFF;
	vertical-align:middle;
	text-align:center;}		

.td_sthl{border:1px solid #CCCCCC;
	padding:5px;
	white-space:nowrap;
	background:#f1efe9;
	vertical-align:top;}

.td_sthlc{border:1px solid #CCCCCC;
	padding:7px;
	background:#f1efe9;
	white-space:nowrap;
	text-align:center;}	

.ta_st2{width:100%;
	margin:15px 0;
	border-collapse:collapse;}

.td_st2{border-bottom:#CCCCCC 1px solid;
	padding:7px;
	vertical-align:top;}
	
.td_sthl2{border-bottom:#CCCCCC 1px solid;
	padding:7px;
	white-space:nowrap;
	vertical-align:top;}

.ta_st3{width:auto;
	margin:5px 0 15px 0;
	border-collapse:collapse;}

.td_st3{border-bottom:1px solid #CCCCCC;
	padding:7px;
	vertical-align:top;}

.td_sthl3{border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	padding:7px;
	white-space:nowrap;
	vertical-align:top;}

.ta_st4{width:100%;
	margin:5px 0 15px 0;
	border-collapse:collapse;}

.td_st4{border-bottom:1px solid #CCCCCC;
	padding:7px;
	vertical-align:top;}

.td_sthl4{border-bottom:1px solid #CCCCCC;
	padding:7px;
	white-space:nowrap;
	vertical-align:top;}
	
.ta_st5{width:413px;
	margin:5px 0 15px 0;
	border-collapse:collapse;}

.td_st5{border-bottom:1px solid #CCCCCC;
	padding:7px;
	vertical-align:top;}

.td_sthl5{border-bottom:1px solid #CCCCCC;
	padding:7px;
	white-space:nowrap;
	vertical-align:top;}	

.ta_stR{width:auto;
	margin:0 0 10px 10px;
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	float:right;}

.td_stxxs{border:1px solid #CCCCCC;
	padding:3px;
	background:#FFFFFF;
	vertical-align:top;
	text-align:center;}

.td_stxxsl{border:1px solid #CCCCCC;
	padding:3px;
	background:#FFFFFF;
	vertical-align:top;
	text-align:left;}

.td_stcxxs{border:1px solid #CCCCCC;
	padding:3px;
	background:#FFFFFF;
	vertical-align:top;
	text-align:center;}	

.td_sthlcxxs{border:1px solid #CCCCCC;
	padding:3px;
	background:#f1efe9;
	white-space:nowrap;
	text-align:center;}

.ta_cap{width:265px;
	margin:0;
	padding:0;
	border-collapse:collapse;}

.td_cap{margin:0;
	padding:0;
	vertical-align:top;
	text-align:left;}
	
.td_caphl{margin:0;
	padding:0 5px 0 0;
	white-space:nowrap;
	vertical-align:top;
	text-align:left;}

.ta_gallery{width:568px;
	margin:20px auto;
	padding:0;
	border-collapse:collapse;
	clear:both;}
	
.td_gallery{margin:0;
	padding:0 0 15px 0;
	vertical-align:top;
	text-align:center;}
	
.td_galleryD{margin:0;
	padding:0;
	vertical-align:top;
	text-align:center;}	

.td_galleryL{margin:0;
	padding:0 15px 15px 15px;
	vertical-align:top;
	text-align:left;}

.ta_fa{width:568px;
	margin:35px auto;
	padding:0;
	border-collapse:collapse;
	clear:both;}

.ta_fatop{width:568px;
	margin:20px auto 35px;
	padding:0;
	border-collapse:collapse;
	clear:both;}

.td_fa{margin:0;
	padding:0;
	vertical-align:top;
	text-align:left;}
	
.td_faL{margin:0;
	width:260px;
	padding:8px 11px;
	vertical-align:top;
	text-align:left;}
	
.td_faC{margin:0;
	width:260px;
	padding:8px 11px;
	vertical-align:top;
	text-align:center;}		

.td_stbook{border-bottom:#CCCCCC 1px solid;
	padding:14px 4px;
	text-align:center;
	vertical-align:top;}

.td_stbook2{padding:7px;
	vertical-align:top;}	
	
.td_stbookhl{border-bottom:#CCCCCC 1px solid;
	border-right:#CCCCCC 1px dotted;
	padding:7px;
	white-space:nowrap;
	text-align:center;
	vertical-align:middle;}

.td_stdvd{border:1px solid #CCCCCC;
	padding:5px;
	background:#FFFFFF;
	white-space:nowrap;
	vertical-align:middle;}
	
.td_stdvdc{border:1px solid #CCCCCC;
	padding:5px;
	background:#FFFFFF;
	vertical-align:middle;}	
	
.td_stn{border:1px solid #CCCCCC;
	padding:5px;
	background:#FFFFFF;
	white-space:nowrap;
	vertical-align:middle;}

.ta_message{width:778px;
	margin:0;
	padding:0;
	border-collapse:collapse;}

.td_messageL{margin:0;
	padding:0 10px 0 0;
	text-align:left;
	white-space:nowrap;
	vertical-align:middle;}
	
.td_messageR{margin:0;
	padding:0 0 0 10px;
	text-align:right;
	white-space:nowrap;
	vertical-align:middle;}	

/* link
----------------------------------------------- */
a:link{color:#008080; text-decoration:underline;}
a:visited{color:#666666; text-decoration:underline;}
a:active{color:#666666; text-decoration:underline;}
a:hover{color:#999999; text-decoration:none;}

#top_maincenter a:link{color:#008080; text-decoration:none;}
#top_maincenter a:visited{color:#333333; text-decoration:none;}
#top_maincenter a:active{color:#666666; text-decoration:none;}
#top_maincenter a:hover{color:#333333; text-decoration:underline;}

#page_left .pm2_li a:link{color:#333333; text-decoration:none;}
#page_left .pm2_li a:visited{color:#333333; text-decoration:none;}
#page_left .pm2_li a:active{color:#ff6c00; text-decoration:none;}
#page_left .pm2_li a:hover{color:#ff6c00; text-decoration:underline;}
